
<!-- BANNER -->
<% if @searched == false %>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'home_banner_mini.jpg' %>');">
    <div class="banner-content">
      <h1>Xcars</h1>
      <p>OWN THE EXPERIENCE, NOT THE CAR</p>
      <!-- <a class="btn btn-warning btn-lg">BOOK IT</a> -->
         <% if user_signed_in? == false %>
            <!-- <div class="btn-primary banner-button banner-content hidden-md hidden-lg"> -->
              <!-- Login text link -->

                 <%#= link_to t(".sign_up", default: "Join!"), new_user_registration_path, class: "b" %>
              <!-- </div> -->
            <%= link_to new_user_registration_path do %>
              <button class="btn-mini btn btn-info banner-button">Sign Up!</button>
          <% end %>
          <!-- end of link do -->
       <% end %>
       <!-- end of if user signed in -->
    </div>
    <!-- banner content -->
  </div>
  <!-- banner -->
<% end %>
<!-- END OF IF SEARCHED -->

<!-- SEARCH BOX BELOW BANNER ONLY FOR MOBILE -->
 <div class="container hidden-md hidden-lg" style="margin-top: 30px; display: flex; justify-content: space-around; ">
  <div class="text-center">

    <form action="/">
     <div class="text-center">
        <div style="min-width: 300px; margin:0px 20px 5px 20px;">
          <!-- <label for="Start Date">Search by Availability</label> -->
          <input type="text" class="form-control navbar-wagon-search-input datepicker" name="start_date" id="start_date" placeholder="Start Date" style="min-width: 300px;">
        </div>
     </div>

      <div class="text-center">
        <div style="max-width: 300px; margin:0px 20px 5px 20px;">
          <!-- <label for="End Date"></label> -->
          <input type="text" class="form-control navbar-wagon-search-input datepicker" name="end_date" id="end_date" placeholder="End Date">
        </div>
      </div>

      <div class="text-center">
        <div style="max-width: 300px; margin:0px 20px 5px 20px;">
          <!-- <label for="End Date"></label> -->
          <input type="text" class="form-control navbar-wagon-search-input" name="search_text" id="search_text" placeholder="Area, Model, Maker">
        </div >
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-warning btn-bordered btn-bordered-primary">Search by Availability</button>
      </div>
    </form>

  </div>
</div>


<!-- LINKS TO ACTION -->
<div class="container text-center padded features" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to image_tag("booking_icon2.png"), bookings_index_path %>
      <h2>Manage Booking</h2>
      <p>Request, change and cancel booking</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to image_tag("renting_icon.png"), users_cars_path %>
      <h2>Manage your Cars</h2>
      <p>Rent out your car</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "experience_icon2.png" %>
      <h2>Share Your Story</h2>
      <p>Share your Xcar story here</p>
    </div>
  </div>
</div>
<!-- END OF LINKS TO ACTION -->


<!-- MAP WITH MARKERS FOR ALL CARS -->
 <div class="col-xs-12 col-md-12">
  <div class="text-center">
    <p class="h2">Where the Cars Rest</p>
    <P id="mapindex"></P>
  </div>
</div>


<!-- END OF MAP -->

<!-- AVAILABLE CARS LIST-->
<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-12 col-sm-4 card-container">
        <!-- insert <div class="card"> -->


          <!-- <div class="btn-primary banner-button banner-content hidden-md hidden-lg"> -->
            <!-- Login text link -->

               <%#= link_to t(".sign_up", default: "Join!"), new_user_registration_path, class: "b" %>
            <!-- </div> -->

        <!-- admin delete and edit buttons -->
      <% if user_signed_in? == true && current_user.admin? %>
          <%# if policy(@car).destroy? %>
               <%= link_to "Delete", car_path(car.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger card-delete-button", style:"margin:5px; padding:5px" %>

                <%= link_to "Edit", edit_car_path(car.id), method: :get, class: "btn btn-warning card-edit-button", style:"margin:5px; padding:5px; min-width:65px; max-height:42px;"  %>
          <%# end %>
      <% end %>
      <!-- end of if user signed in -->

      <% if car.photo.url %>
        <div class="card img-responsive" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= car.photo.url %>');">
      <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://s-media-cache-ak0.pinimg.com/736x/b0/60/7a/b0607ac790b5460db4566fce20caf802.jpg');">
      <% end %>
      <!-- end of if car photo url-->


        <% car_description = "#{car.year} #{car.make} #{car.model}" %>
        <% @currency = "€" %>
        <% price = "#{@currency}#{car.price.to_i}" %>
          <div class="card-category"><%= price %></div>
          <div class="card-description">
            <h2><%= car.name  %></h2>
            <p><%= car_description %></p>
          </div>
           <!-- <img class="card-user avatar" src="<%#= car.user.photo.url %>"> -->
          <%= link_to "",  car_path(car) , class: "card-link" %>
        </div>
        <!-- end of photo car if photo url exists -->
      </div>
      <!-- end of photo if there is no car url somehow these area outside of the if car.photo.url-->
    <% end %>
    <!-- end of if user signed in -->
  </div>
  <!-- end of div col -->
</div>
<!-- end of container for car cards -->

<!-- NEWS LETTER -->
<% if @searched == false %>
  <div class="text-center padded" id="newsletter">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <input type="email" placeholder="xcars@x.car" class="form-control">
      <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
    </form>
  </div>
<% end %>
<!-- end of news letter -->
<!-- END OF HTML -->

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?language=en&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<script type="text/javascript">
////////////////////////////////////////////////

   $(document).on('ready', function () {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    ///////////////////////////////////////////////////////
    //////////////Draw Map/////////////////////////////


    var handler = Gmaps.build('Google', {
      markers: {
        clusterer: undefined
         // draggable:true,
      }
    });
    handler.buildMap({
      internal: {
        id: 'mapindex'
      }
    }, function () {
      markers = handler.addMarkers([
        // {
        //   "lat": "<%#= current_user.latitude %>",
        //   "lng": "<%#= current_user.longitude %>"
        // },
        <% @cars.each do |car|  %>
        {
          <% x = (rand * (1.00001 - 0.99999) + 0.99999) %>
          <% if car.latitude && car.longitude %>
            <% carlat = car.latitude * x %>
            <% carlng = car.longitude * x %>
          <% else %>
            <% carlat = car.latitude %>
            <% carlng = car.longitude %>
          <% end %>
          // add random number to coorinates to offset markers with same location. also needed if user searches by city or other general location


          "lat": "<%= carlat %>",
          "lng": "<%= carlng %>",
          "picture": {
            "url": "<%= asset_path('car_icon.png') %>",
            "width": 40,
            "height": 40
          },
          "infowindow": '<p style="font-family: Open-sans, sans-serif; font-style:bold; font-size: 15px;"><%= car.year %> <%= car.make %> <%= car.model %></p> <p style="font-family: Open-sans, sans-serif; font-style:bold; font-size: 15px;"> €<%= car.price.to_i %> per day</p> <p style="max-width=500px; max-height:500px;"><a href="/cars/' + <%= car.id %> + '"class="btn btn-primary button-show-details"><IMG BORDER="0" ALIGN="center" SRC="<%= car.photo %>"></a></p>'

           // "infowindow": '<%#= link_to car.name, "https://www.google.com/maps/dir/?api=1&destination=#{car.latitude},#{car.longitude}&travelmode=walking", {target: "_blank", class: "h6 text-danger"} %><p><%= car.year %></p><p><%= car.make %><%= car.model %></p>'
        },
        <% end %>
      ]);


      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setCenter(new google.maps.LatLng("34.10778", "-118.44472"));
      //centered around beverly glen for aesthetics -- center of the seed data
      handler.getMap().setZoom(10);
    });
  })



// TO BE USED WHEN USER GEOLOCATION IMPLEMENTED
  ////////////////////
  // var options = {
  //   enableHighAccuracy: true,
  //   timeout : 10000,
  //   maximumAge: 0
  // };

  // function successGetPosition(position){
  //   alert( "Successfully Got Current Location" );
  //   alert( "lat:" + position.coords.latitude + ", lng:" + position.coords.longitude);
  //   window.location.href = "/users/<%#= current_user.id %>/requests/?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude;
  // };

  // function failGetPosition(){
  //   alert( "Failed. Your browser does not support Geolocation." );
  // };

  // $('.currentLocation').click(function(){
  //   if( navigator.geolocation ){   //Get Current Location
  //     navigator.geolocation.getCurrentPosition(successGetPosition, failGetPosition, options);
  //   }
  // });
     // // successGetPosition = (position) -> //   window.location.href = "/shops/searches?latitude=#{position.coords.latitude}&longitude=#{position.coords.longitude}" // // options = //   enableHighAccuracy: true //
    // failGetPosition = (error) -> //   switch error.code



</script>
